* {
  margin: 0;
  padding: 0;
}

header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid #DDDDDD;
  position: sticky;
}

.header {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.header-left {
  float: left;
  height: 60px;
  width: 150px;
  background-color: gray;
}

.header-right {
  float: right;
}

.header-menu li {
  transition: 0.2s;
  float: left;
  list-style: none;
  color: #999999;
  padding: 18px 20px;
  box-sizing: content-box;
  text-align: center;
  border-left: 1px solid #dddddd;
}

.header-menu li:hover {
  transition: 0.2s;
  color: rgba(153,153,153,0.5);
  cursor: pointer;
}
